:global(body) {
  margin: 0;
  padding: 0;
  transition-property: background, color;
  /* font-family is set through the JS */
}

:global(.dayTheme) {
  background: #fff;
  color: #222222;
}

:global(.nightTheme) {
  background: #242f3e;
  color: #fff;
}

.chart {
  margin: 12px 0;
}

.chart:not(:first-child) {
  margin-top: 40px;
}

.themeSwitcher,
.themeSwitcherHolder {
  height: 40px;
  margin-top: 10px;
}

.themeSwitcher {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background, box-shadow;
}
:global(.dayTheme) .themeSwitcher {
  background: #fff;
  box-shadow: 0 5px 10px 10px #fff;
}
:global(.nightTheme) .themeSwitcher {
  background: #242f3e;
  box-shadow: 0 5px 10px 10px #242f3e;
}

.button {
  border: none;
  background: none;
  padding: 5px 20px;
  margin: 0;
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  transition-property: color;
  outline: none;
  text-decoration: none;
}
:global(.dayTheme) .button {
  color: #108be3;
}
:global(.nightTheme) .button {
  color: #36a8f1;
}

@media (max-width: 500px) {
  .button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.buttonsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
