/* CSSO fails when `box-sizing` is inside `.icon` for some reason */
.button,
.icon {
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  height: 34px;
  min-width: 34px;
  padding: 0 6px;
  border: 1px solid;
  border-radius: 17px;
  cursor: pointer;
  outline: none;
  font: inherit;
  font-size: 12px;
  background: none;
  transition-property: color, border-color;
  transition-timing-function: ease-in-out;
}
:global(.dayTheme) .button {
  color: #43484b;
  border-color: #e6ecf0;
}
:global(.nightTheme) .button {
  color: #e8ecee;
  border-color: #344658;
}

.icon {
  flex: none;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 100%;
  transition: background 0.3s ease-in-out;
}

.button:not(.on) > .icon {
  background: transparent !important;
}

.name {
  margin: 0 9px 0 13px;
}
