.holder {
  display: flex;
}

.pusher {
  flex: 0 0 0;
}

.content {
  flex: none;
  box-sizing: border-box;
  max-width: 90%;
  padding: 6px 8px 5px;
  border-radius: 4px;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
  transition-property: background;
}
:global(.dayTheme) .content {
  background: #fff;
}
:global(.nightTheme) .content {
  background: #253241;
}

.header {
  font-size: 12px;
}

.values {
  list-style: none;
  width: 150px;
  margin: -2px 0 0 -17px;
  padding: 0;
}

.values > li {
  box-sizing: border-box;
  padding: 10px 0 0 17px;
  float: left;
  width: 50%;
}

.values::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

@supports (display: grid) {
  .values {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 17px;
    margin: 8px 0 0;
    width: auto;
  }

  .values > li {
    padding: 0;
    float: none;
    width: auto;
  }

  .values::after {
    display: none;
  }
}

.price {
  font-size: 14px;
  font-weight: bold;
}

.label {
  font-size: 10px;
}
