.root {
    display: flex;
    flex-direction: column;
    height: 410px;
    max-height: 100vh;
}

.root > * {
    flex: none;
}

.name {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.canvas {
    width: 100%;
    flex: auto;
    min-height: 160px;
}

.toggles {
    margin: 8px -7px -7px;
    display: flex;
    flex-wrap: wrap;
}

.toggle {
    margin: 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 34px;
    min-width: 34px;
    padding: 0 6px;
    border: 1px solid;
    border-radius: 17px;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    background: none;
}

.toggleIcon {
    flex: none;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 100%;
    transition: background 0.3s ease-in-out;
}

.toggle:not(.on) > .toggleIcon {
    background: transparent !important;
}

.toggleName {
    margin: 0 9px 0 13px;
}
