.chart, .name {
  /* CSSO fails to build when this property is inside .name for some reason */
  position: relative;
}

.name {
  z-index: 10;
  font-size: 16px;
  font-weight: bold;
  margin: 0 245px -28px 0;
  padding: 0 12px;
}

.chart {
  height: calc(100vh - 60px);
  min-height: 260px;
  max-height: 392px;
  -webkit-tap-highlight-color: transparent;
}

.chart canvas {
  user-select: none;
  position: absolute;
}
.chart .mapCanvas {
  z-index: 0;
}
.chart .mainCanvas {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toggles {
  margin: 14px 9px -3px;
  display: flex;
  flex-wrap: wrap;
}

.toggle {
  margin: 3px;
}
