.button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 34px;
  min-width: 34px;
  padding: 0 6px;
  border: 1px solid;
  border-radius: 17px;
  cursor: pointer;
  outline: none;
  font: inherit;
  font-size: 12px;
  background: none;
  transition-property: color, border-color;
}
:global(.dayTheme) .button {
  color: #43484b;
  border-color: #e6ecf0;
}
:global(.nightTheme) .button {
  color: #e8ecee;
  border-color: #344658;
}

.icon {
  flex: none;
  width: 20px;
  height: 20px;
}
.icon > polyline {
  stroke-dasharray: 12 20;
  stroke-dashoffset: 12;
  transform: scale(0.3);
}
.icon > polyline,
.icon > circle:nth-child(2) {
  transform-origin: 50% 50%;
  /* transition: all 0.4s ease-in-out; */
}
.on .icon > circle:nth-child(2) {
  transform: scale(0);
}
.on .icon > polyline {
  transform: scale(1);
  stroke-dashoffset: 0;
}

.name {
  margin: 0 9px 0 13px;
}
